<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template.xhtml">
    
    <ui:define name="head">
        <script type="text/javascript">
            //<![CDATA[
            function skinChart() {
                this.cfg.shadow = false;
                this.cfg.title = '';
                this.cfg.seriesColors = ['#EA9624', '#5BA5D8'];
                this.cfg.grid = {
                    background: '#ffffff',
                    borderColor: '#ffffff',
                    gridLineColor: '#F5F5F5',
                    shadow: false
                };
                this.cfg.axesDefaults = {
                    rendererOptions: {
                        textColor: '#666F77'
                    }
                };
                this.cfg.seriesDefaults = {
                    shadow: false,
                    lineWidth: 1,
                    markerOptions: {
                        shadow: false,
                        size: 7,
                        style: 'circle'
                    }
                }
            }
            //]]>  
        </script>
        <style type="text/css">
            .main-content {
                padding: 0;
            }
            
            #main-wrapper-content {
                padding: 10px;
            }
        </style>
    </ui:define>
    
    <ui:define name="content">
    
        <div class="dashboard">
            <div class="dashboard-header">
                <div class="ui-g">
                    <div class="ui-g-12">
                        <div class="dashboard-title">
                            <h2>Welcome our site!</h2>
                        </div>
                    </div>
<!--                <p:outputLabel for="inputSearch" value="Search:"/>-->
                 
                </div>
            </div>
            <div id="main-wrapper-content">
                <div class="ui-g">
                    <div class="ui-g-12">
                        <div class="ui-g-6">
                            <div class="card">
                                <h1>Search Products:</h1>
                                <div>
                                    <h2>By name:</h2> 
                                    <h:form enctype="multipart/form-data">
                                        <p:inputText id="inputSearch" value="#{productController.searchInput}"/>
                                        <p:commandButton id="searchButton" value="Search" action="#{productController.searchItem}"></p:commandButton>
                                    </h:form>
                                </div>
                                <div>
                                    <h2>By category:</h2> 
                                    <h:form enctype="multipart/form-data">
                                        <p:selectOneMenu id="category" required="true" value="#{productController.product.category}" style="margin-bottom:10px;">
                                            <f:selectItem itemLabel="Select Category" itemValue="" />
                                            <f:selectItems value="#{productController.category}" />
                                            <f:ajax listener="#{productController.populateSubCategory}"  render="subcategory" /> 
                                        </p:selectOneMenu>

                                        <p:selectOneMenu id="subcategory" value="#{productController.product.subCategory}" style="margin-bottom:10px;">
                                            <f:selectItem itemLabel="Select Sub Category" itemValue="" />
                                            <f:selectItems value="#{productController.subCategory}" />
                                        </p:selectOneMenu>

                                        <p:commandButton id="searchButton2" value="Search" action="#{productController.searchItemByCategory}"></p:commandButton>
                                    </h:form>
                                </div>

                            </div>

                        </div>
                        <div class="ui-g-6">
                            <div class="box greenBack">
                                <h2>Check Promotions for today in the My Today's Deals section!</h2>
                            </div>
                        </div>
                    </div>   
                </div>
            </div>
        </div>
        
    </ui:define>
    
</ui:composition>