<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template.xhtml">
    <ui:define name="head">
        <style type="text/css">
            .grid-pad .ui-panelgrid-content .ui-panelgrid-cell.ui-grid-col-12 {
                padding-bottom: 10px;
            }
        </style>
    </ui:define>

    <ui:define name="content">

        <div class="ui-g ui-fluid">
            <div class="ui-g-12 ui-lg-6" style="margin-left:22%">
                <!-- Left Side -->

                <div class="card">
                    <h1>Post a Product</h1>
                    <h:form enctype="multipart/form-data">
                        <p:panelGrid id="panel" columns="1" styleClass="ui-panelgrid-blank" layout="grid">
                            <p:messages id="msgs" />
                            <p:outputLabel value="Name:" for="name" />
                            <p:inputText id="name" value="#{productController.product.name}" required="true" type="text" style="margin-bottom:10px;">
                                <f:validateLength minimum="2" />
                                <p:ajax update="msgs" event="keyup" />
                            </p:inputText>
                            <p:outputLabel value="Description:" for="description" />
                            <p:inputTextarea rows="3" value="#{productController.product.description}" required="true" id="description" placeholder="Enter Product Description" autoResize="false"/>
                            <p:selectOneMenu id="category" required="true" value="#{productController.product.category}" style="margin-bottom:10px;">
                                <f:selectItem itemLabel="Select Category" itemValue="" />
                                <f:selectItems value="#{productController.category}" />
                                <f:ajax listener="#{productController.populateSubCategory}"  render="subcategory" /> 
                            </p:selectOneMenu>

                            <p:selectOneMenu id="subcategory" required="true" value="#{productController.product.subCategory}" style="margin-bottom:10px;">
                                <f:selectItem itemLabel="Select Sub Category" itemValue="" />
                                <f:selectItems value="#{productController.subCategory}" />
                            </p:selectOneMenu>

                            <p:outputLabel for="popup" value="Due Date:" />
                            <p:calendar id="popup" value="#{productController.product.dueDate}" required="true" style="margin-bottom:10px;"/>

                            <p:outputLabel value="Ask Price:" for="price" />
                            <p:inputText id="price" value="#{productController.product.askPrice}" required="true" type="number" style="margin-bottom:10px;">
                                <f:validateLength minimum="2" />
                                <p:ajax update="msgs" event="keyup" />
                            </p:inputText>
                            
                            <p:fileUpload fileUploadListener="#{productController.handleFileUpload}" mode="advanced" dragDropSupport="false"
                                          multiple="true" update="messages" sizeLimit="1000000" fileLimit="1" allowTypes="/(\.|\/)(gif|jpe?g|png)$/" style="width:100%" />
        
                            <p:growl id="messages" showDetail="true" />

                            <p:commandButton id="productSave" value="Save" update="panel" action="#{productController.save}" style="width:auto;margin-bottom:10px;"/>

                        </p:panelGrid>
                    </h:form>
                </div>


            </div>
        </div>

    </ui:define>

</ui:composition>