<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <h:head>
        <f:facet name="first">
            <meta http-equiv="X-UA-Compatible" content="IE=edge" />
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
            <meta name="apple-mobile-web-app-capable" content="yes" />
        </f:facet>
        <title>Shop - Login</title>
    </h:head>

    <h:body styleClass="containerLogin">
        <div class="logo-container">
            <h:graphicImage name="images/logo.svg" id="PageLogo" library="icarus-layout"/>
        </div>
        <h:form>
            <div class="ui-g">

                <p:panel  id="panel" header="Login" styleClass="panel-login">
                    <p:messages id="msgs" />

                    <div class="ui-g-12" style="padding-top:35px;">
                        <p:inputText placeholder="Your Email" type="email" value="#{loginController.email}" required="true" style="width:60%;"/><br/>
                    </div>
                    <div class="ui-g-12" style="padding-top:10px;">
                        <p:inputText placeholder="Your Password" type="password" value="#{loginController.password}" required="true" style="width:60%"/>
                    </div>

                    <div class="ui-g-12"> <p:button id="registerButton" value="Register" outcome="register"></p:button>
                        <p:commandButton id="loginButton" value="Login" update="panel" action="#{loginController.save}"></p:commandButton>
                    </div>
                </p:panel>

                <div class="ui-g-12 footer-login">
                    <span>Avialdo Solutions</span><br/>
                    <span>All rights reserved.</span>
                </div>
            </div>
        </h:form>
        <style type="text/css">
            html {height: 100%;}
            .ui-button-text, .ui-button-text-only .ui-button-text{padding:8px !important; transition:none !important;}
            .ui-panel .ui-panel-title {font-size: 17px;}
            #loginButton{width: 20%; margin-right: 10px;}
        </style>

        <h:outputStylesheet name="css/layout-orange.css" library="icarus-layout" />
    </h:body>

</html>