<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template.xhtml"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    
    <ui:define name="content">
    

        <div class="ui-g">
        </div>
        <div class="ui-fluid">
        <!-- Grid -->
        <div class="ui-g">
            <div class="ui-g-12">
                
                <div class="card">
                    <h1>My Orders</h1>
                    <p:dataTable var="prod" value="#{orderController.getOrderList()}" reflow="true" selectionMode="single" rowKey="#{prod.id}">
                        <f:facet name="header">
                            Orders
                        </f:facet>
                        <p:column headerText="Product Name">
                            <h:outputText value="#{orderController.getProductName(prod.productId)}" />
                        </p:column>

                        <p:column headerText="Description">
                            <h:outputText value="#{orderController.getProductDescription(prod.productId)}" />
                        </p:column>
                        
                        <p:column headerText="Status">
                           <h:panelGroup rendered="#{prod.status eq 3}">
                                    PROCESSING
                           </h:panelGroup>
                           <h:panelGroup rendered="#{prod.status eq 4}">
                                    
                           </h:panelGroup>
                        </p:column>                        
                    </p:dataTable>
                </div>
            </div>
  
           
        </div>
    </div>
    </ui:define>
    
</ui:composition>