<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template.xhtml"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    
    <ui:define name="head">
        <script type="text/javascript">
            //<![CDATA[
            function skinChart() {
                this.cfg.shadow = false;
                this.cfg.title = '';
                this.cfg.seriesColors = ['#EA9624', '#5BA5D8'];
                this.cfg.grid = {
                    background: '#ffffff',
                    borderColor: '#ffffff',
                    gridLineColor: '#F5F5F5',
                    shadow: false
                };
                this.cfg.axesDefaults = {
                    rendererOptions: {
                        textColor: '#666F77'
                    }
                };
                this.cfg.seriesDefaults = {
                    shadow: false,
                    lineWidth: 1,
                    markerOptions: {
                        shadow: false,
                        size: 7,
                        style: 'circle'
                    }
                }
            }
            //]]>  
        </script>
        <style type="text/css">
            .main-content {
                padding: 0;
            }
            
            #main-wrapper-content {
                padding: 10px;
            }
        </style>
    </ui:define>
    
    <ui:define name="content">
    
        <div class="ui-fluid">
        <!-- Grid -->
        <div class="ui-g">
            <div class="ui-g-12">
                
                <div class="card">
                    <h1>Product Detail</h1>
                    
                    <p:panelGrid columns="2" layout="grid" style="margin-bottom:20px">
                            <h:outputText value="Name" />
                            <h:outputText value="#{productController.getProductDetail(productController.currentProductId)}" />

                            <h:outputText value="Created On" />
                            <h:outputText value="#{productController.product.createdOn}" />

                            <h:outputText value="Created By" />
                            <h:outputText value="#{productController.getCreatedBy()}" />

                            <h:outputText value="Due Date" />
                            <h:outputText value="#{productController.product.dueDate}" />
                            
                            <h:outputText value="Category" />
                            <h:outputText value="#{productController.product.category}" />
                            
                            <h:outputText value="Subcategory" />
                            <h:outputText value="#{productController.product.subCategory}" />
                            
                            <h:outputText value="Description" />
                            <h:outputText value="#{productController.product.description}" />
                            
                            <h:outputText value="Ask Price" />
                            <h:outputText value="#{productController.product.askPrice}" />
                            
                            <h:outputText value="Highest Bid" />
                            <h:outputText value="#{auctionController.getHighestBid(productController.currentProductId)}" />
                    </p:panelGrid>
                    <h:panelGroup rendered="#{productController.product.createdBy eq productController.getCurrentUserId()}">
                        <h:form enctype="multipart/form-data">
                        <p:commandButton id="searchButton" value="Withdraw" style="width:auto; margin-top:15px;" action="#{productController.withdrawProduct(productController.currentProductId)}"></p:commandButton>
                        </h:form>
                    </h:panelGroup>
                    <h:panelGroup rendered="#{ productController.product.createdBy ne productController.getCurrentUserId()}">
                        <h:form enctype="multipart/form-data">
                        <p:inputText id="inputSearch" value="#{auctionController.bidPrice}"/>
                        <p:commandButton id="bidButton" value="Create a Bid" style="width:auto;margin-top:15px;" action="#{auctionController.createBid(productController.currentProductId)}"></p:commandButton>
                    </h:form>
                    </h:panelGroup>
                </div>
            </div>
  
           
        </div>
    </div>
    </ui:define>
    
</ui:composition>