<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template.xhtml"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    
    <ui:define name="head">
        <script type="text/javascript">
            //<![CDATA[
            function skinChart() {
                this.cfg.shadow = false;
                this.cfg.title = '';
                this.cfg.seriesColors = ['#EA9624', '#5BA5D8'];
                this.cfg.grid = {
                    background: '#ffffff',
                    borderColor: '#ffffff',
                    gridLineColor: '#F5F5F5',
                    shadow: false
                };
                this.cfg.axesDefaults = {
                    rendererOptions: {
                        textColor: '#666F77'
                    }
                };
                this.cfg.seriesDefaults = {
                    shadow: false,
                    lineWidth: 1,
                    markerOptions: {
                        shadow: false,
                        size: 7,
                        style: 'circle'
                    }
                }
            }
            //]]>  
        </script>
        <style type="text/css">
            .main-content {
                padding: 0;
            }
            
            #main-wrapper-content {
                padding: 10px;
            }
        </style>
    </ui:define>
    
    <ui:define name="content">
    
        <div class="ui-fluid">
        <!-- Grid -->
        <div class="ui-g">
            <div class="ui-g-12">
                
                <div class="card">
                    <h1>Current Product Id</h1>
                    <h:outputText value="#{productController.currentProductId}" />
                   
                </div>
            </div>
  
           
        </div>
    </div>
    </ui:define>
    
</ui:composition>