<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template.xhtml"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <ui:define name="content">
    
    <div class="ui-fluid">
        <!-- Grid -->
        <div class="ui-g">
            <div class="ui-g-12">
                
                
                <div class="card">
                    <h1>TODAYS'S DEAL (ENDING AT MIDNIGHT TODAY!)</h1>
                    <p:dataTable var="prod" rowIndexVar="rowId" value="#{productController.generateRandomProduct()}" reflow="true" selectionMode="single" rowKey="#{prod.id}">
                        <f:facet name="header">
                            24H DEAL (ENDING AT MIDNIGHT TODAY!)
                        </f:facet>
                        <p:column headerText="Id">
                            <h:outputText value="#{prod.id}" />
                        </p:column>

                        <p:column headerText="Product name">
                            <h:outputText value="#{prod.name}" />
                        </p:column>

                        <p:column headerText="Original price(‎€)">
                            <h:outputText value="#{prod.askPrice}" />
                        </p:column>
                        
                        <p:column headerText="Deal">
                            <h:panelGroup rendered="#{rowId eq 0}">
                                VOUCHER GIFT
                            </h:panelGroup>
                            <h:panelGroup rendered="#{rowId eq 1}">
                                FREE DELIVERY
                            </h:panelGroup>
                            <h:panelGroup rendered="#{rowId eq 2}">
                                VOUCHER GIFT
                            </h:panelGroup>
                             
                        </p:column>
                        
                         <p:column headerText="Action for this product">
                            <p:commandButton value="Details" action="#{productController.getProduct(prod.id,prod)}"/>                        
                        </p:column>
                       
                        
                    </p:dataTable>
                </div>
            </div>
  
           
        </div>
    </div>

    </ui:define>

</ui:composition>
