<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <h:head>
        <f:facet name="first">
            <meta http-equiv="X-UA-Compatible" content="IE=edge" />
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
            <meta name="apple-mobile-web-app-capable" content="yes" />
        </f:facet>
        <title>Shop - Register</title>
    </h:head>

    <h:body styleClass="containerLogin">
        <div class="logo-container">
            <h:graphicImage name="images/logo.svg" id="PageLogo" library="icarus-layout"/>
        </div>
        <h:form>
            <div class="ui-g">

                <p:panel  id="panel" header="Create Account" styleClass="panel-login">
                    <p:messages id="msgs" />

                    <div class="ui-g-12" style="padding-top:35px;">
                        <p:inputText id="firstname" placeholder="First Name" type="text" value="#{registerController.user.firstName}" required="true" style="width:60%;">     
                            <f:validateLength minimum="2" />
                            <p:ajax update="msgs" event="keyup" />
                        </p:inputText>
                        <br/>
                    </div>
                    <div class="ui-g-12" style="padding-top:10px;">
                        <p:inputText placeholder="Last Name" type="text" value="#{registerController.user.lastName}" required="true" style="width:60%;">     
                            <f:validateLength minimum="2" />
                            <p:ajax update="msgs" event="keyup" />
                        </p:inputText>
                        <br/>
                    </div>

                    <div class="ui-g-12" style="padding-top:10px;">
                        <p:inputText placeholder="Email Address" type="email" value="#{registerController.user.email}" required="true" style="width:60%;">     
                            <f:validateLength minimum="2" />
                            <p:ajax update="msgs" event="keyup" />
                        </p:inputText>
                        <br/>
                    </div>
                    <div class="ui-g-12" style="padding-top:10px;">
                        <p:inputText placeholder="Phone Number" type="tel" value="#{registerController.user.phone}" required="true" style="width:60%;">     
                            <f:validateLength minimum="2" />
                            <p:ajax update="msgs" event="keyup" />
                        </p:inputText>
                        <br/>
                    </div>
                    <div class="ui-g-12" style="padding-top:10px;">
                        <p:inputText placeholder="Postal Address" type="text" value="#{registerController.user.address}" required="true" style="width:60%;">     
                            <f:validateLength minimum="2" />
                            <p:ajax update="msgs" event="keyup" />
                        </p:inputText>
                        <br/>
                    </div>
                    <div class="ui-g-12" style="padding-top:10px;">
                        <p:inputText placeholder="Password" type="password" value="#{registerController.user.password}" required="true" style="width:60%">     
                            <f:validateLength minimum="4" />
                            <p:ajax update="msgs" event="keyup" />
                        </p:inputText>
                        <br/>
                    </div>

                    <div class="ui-g-12" style="padding-top:10px;">
                        <p:inputText placeholder="Retype Password" type="password" value="#{registerController.retypePassword}" required="true" style="width:60%">     
                            <f:validateLength minimum="4" />
                            <p:ajax update="msgs" event="keyup" />
                        </p:inputText>
                        <br/>
                    </div>

                    <div class="ui-g-12"> 
                        <p:commandButton id="loginButton" value="Register" update="panel" action="#{registerController.save}"></p:commandButton>
                    </div>
                </p:panel>

                <div class="ui-g-12 footer-login">
                    <span>Avialdo Solutions</span><br/>
                    <span>All rights reserved.</span>
                </div>
            </div>
        </h:form>
        <style type="text/css">
            html {height: 100%;}
            .ui-button-text, .ui-button-text-only .ui-button-text{padding:8px !important; transition:none !important;}
            .ui-panel .ui-panel-title {font-size: 17px;}
        </style>

        <h:outputStylesheet name="css/layout-#{guestPreferences.theme}.css" library="icarus-layout" />
    </h:body>

</html>