<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template.xhtml"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    
    <ui:define name="head">
        <script type="text/javascript">
            //<![CDATA[
            function skinChart() {
                this.cfg.shadow = false;
                this.cfg.title = '';
                this.cfg.seriesColors = ['#EA9624', '#5BA5D8'];
                this.cfg.grid = {
                    background: '#ffffff',
                    borderColor: '#ffffff',
                    gridLineColor: '#F5F5F5',
                    shadow: false
                };
                this.cfg.axesDefaults = {
                    rendererOptions: {
                        textColor: '#666F77'
                    }
                };
                this.cfg.seriesDefaults = {
                    shadow: false,
                    lineWidth: 1,
                    markerOptions: {
                        shadow: false,
                        size: 7,
                        style: 'circle'
                    }
                }
            }
            //]]>  
        </script>
        <style type="text/css">
            .main-content {
                padding: 0;
            }
            
            #main-wrapper-content {
                padding: 10px;
            }
        </style>
    </ui:define>
    
    <ui:define name="content">
    

        <div class="ui-g">
        </div>
        <div class="ui-fluid">
        <!-- Grid -->
        <div class="ui-g">
            <div class="ui-g-12">
                
                <div class="card">
                    <h1>Search Results</h1>
                    <p:dataTable var="prod" value="#{productController.productList}" reflow="true" selectionMode="single" rowKey="#{prod.id}">
                        <f:facet name="header">
                            Products
                        </f:facet>
                        <p:column headerText="Name">
                            <h:outputText value="#{prod.name}" />
                        </p:column>

                        <p:column headerText="Description">
                            <h:outputText value="#{prod.description}" />
                        </p:column>
                        
                        <p:column headerText="Category">
                            <h:outputText value="#{prod.category}" />
                        </p:column>

                        <p:column headerText="Starting Price">
                            <h:outputText value="#{prod.askPrice}" />
                        </p:column>
                        
                        <p:column headerText="Auction End Date">
                            <h:outputText value="#{productController.getProdDueDate(prod.dueDate)}" />
                        </p:column>
                        
                        <p:column headerText="Highest Bid">
                            <h:outputText value="#{auctionController.getHighestBid(prod.id)}" />
                        </p:column>
                        <p:column headerText="">
                            <p:commandButton value="Details" action="#{productController.getProduct(prod.id,prod)}"/>                        
                        </p:column>
                        
                    </p:dataTable>
                </div>
            </div>
  
           
        </div>
    </div>
    </ui:define>
    
</ui:composition>