<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template.xhtml"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
   
    <ui:define name="head">
        <style type="text/css">
            .grid-pad .ui-panelgrid-content .ui-panelgrid-cell.ui-grid-col-12 {
                padding-bottom: 10px;
            }
        </style>
    </ui:define>
    <ui:define name="content">
    
        <div class="ui-g ui-fluid">
        <!-- Grid -->
            <div class="ui-g-12 ui-lg-6"  style="margin-left:22%">
                
                <div class="card">
                    <h1>Shopping Cart:</h1>
                    <p:tabView var="auctionProd" style="margin-bottom:40px" value="#{orderController.listOfAuctionProducts}">

                        <p:tab title="#{auctionController.getProductName(auctionProd.productId)}">
                                <h:panelGrid columns="2" cellpadding="10">
                                    <h:outputText
                                        value="Description: #{auctionController.getProductDescription(auctionProd.productId)}" />
                                    <h:outputText
                                        value="Price: #{auctionProd.price}" />                                    
                                </h:panelGrid>
                            </p:tab>
                        </p:tabView>
                    
                    <h:form>
                        <p:messages id="msgs" />
                          <h1>Address to deliver:</h1>
                          <p:outputLabel value="Address:" for="address" />
                          <p:inputText id="address" value="#{profileController.user.address}" required="true" type="text" />
                          <h1>Payment Method:</h1>
                              <p:outputLabel value="Name:" for="name" />
                              <p:inputText id="name" value="#{profileController.payment.name}" type="text" required="true" style="margin-bottom:10px;">
                                  <f:validateLength minimum="2" />
                                  <p:ajax update="msgs" event="keyup" />
                              </p:inputText>
                              <p:outputLabel value="Number:" for="number" />
                              <p:inputMask  id="number" mask="9999-9999-9999-9999" value="#{profileController.payment.num}" type="text"  required="true" style="margin-bottom:10px;"/>


                              <p:outputLabel value="Expire Date" for="date" />
                              <p:inputMask id="date" mask="99/99" value="#{profileController.payment.expireDate}" required="true" style="margin-bottom:10px;"/>


                              <p:outputLabel value="CVV:" for="cvv" />
                              <p:inputText id="cvv" value="#{profileController.payment.ccv}" type="password" required="true" style="margin-bottom:10px;">
                                  <f:validateLength minimum="3" />
                                  <p:ajax update="msgs" event="keyup" />
                              </p:inputText>
                              <p:commandButton id="orderButton" update="msgs" value="Place Order" action="#{orderController.placeOrder()}" style="width:auto;"></p:commandButton>  
<!--                          <h:outputText value="Name:" /> <p:inputText id="nameCard" placeholder=""/>
                          <h:outputText value="Card Number:" /><p:inputText id="cardNum" placeholder=""/>
                          <h:outputText value="Expiration Date:"/><p:inputText id="expDate" placeholder=""/>  
                          <h:outputText value="CCV"/><p:inputText id="ccv2" placeholder=""/>  -->
                          
                    </h:form>
                    
                </div>
            </div>           
    </div>
    </ui:define>
    
</ui:composition>