<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template.xhtml">
    <ui:define name="head">
        <style type="text/css">
            .grid-pad .ui-panelgrid-content .ui-panelgrid-cell.ui-grid-col-12 {
                padding-bottom: 10px;
            }
        </style>
    </ui:define>

    <ui:define name="content">

        <div class="ui-g ui-fluid">
            <div class="ui-g-12 ui-lg-6" style="margin-left:22%">
                <!-- Left Side -->

                <div class="card">
                    <h1>Update Profile</h1>
                    <h:form>
                        <p:panelGrid id="panel" columns="1" styleClass="ui-panelgrid-blank" layout="grid">
                            <p:messages id="msgs" />
                            <p:outputLabel value="First Name:" for="firstname" />
                            <p:inputText id="firstname" value="#{profileController.user.firstName}" required="true" type="text" style="margin-bottom:10px;">
                                <f:validateLength minimum="2" />
                                <p:ajax update="msgs" event="keyup" />
                            </p:inputText>
                            <p:outputLabel value="Last Name:" for="lastname" />
                            <p:inputText id="lastname" value="#{profileController.user.lastName}" required="true" type="text" style="margin-bottom:10px;">
                                <f:validateLength minimum="2" />
                                <p:ajax update="msgs" event="keyup" />
                            </p:inputText>

                            <p:outputLabel value="Phone:" for="phone" />
                            <p:inputText id="phone" value="#{profileController.user.phone}" required="true" type="text" style="margin-bottom:10px;">
                                <f:validateLength minimum="2" />
                                <p:ajax update="msgs" event="keyup" />
                            </p:inputText>

                            <p:outputLabel value="Address:" for="address" />
                            <p:inputTextarea rows="3" value="#{profileController.user.address}" required="true" id="address" placeholder="Enter Postal Address" autoResize="false"/>

                            <p:commandButton id="profileSave" value="Save" update="panel" action="#{profileController.saveProfile}" style="width:auto;margin-bottom:10px;"/>

                        </p:panelGrid>
                    </h:form>
                </div>


                <div class="card">
                    <h1>Update Payment Detail</h1>
                    <h:form>
                        <p:panelGrid id="panel" columns="1" styleClass="ui-panelgrid-blank" layout="grid">
                            <p:messages id="msgs" />
                            <p:outputLabel value="Name:" for="name" />
                            <p:inputText id="name" value="#{profileController.payment.name}" required="true" type="text" style="margin-bottom:10px;">
                                <f:validateLength minimum="2" />
                                <p:ajax update="msgs" event="keyup" />
                            </p:inputText>
                            <p:outputLabel value="Number:" for="number" />
                            <p:inputMask  id="number" mask="9999-9999-9999-9999" value="#{profileController.payment.num}" required="true" type="text" style="margin-bottom:10px;"/>


                            <p:outputLabel value="Expire Date" for="date" />
                            <p:inputMask id="date" mask="99/99" value="#{profileController.payment.expireDate}"  required="true" style="margin-bottom:10px;"/>


                            <p:outputLabel value="CVV:" for="cvv" />
                            <p:inputText id="cvv" value="#{profileController.payment.ccv}" required="true" type="password" style="margin-bottom:10px;">
                                <f:validateLength minimum="3" />
                                <p:ajax update="msgs" event="keyup" />
                            </p:inputText>

                            <p:commandButton id="cardSave" value="Save" update="panel" action="#{profileController.savePayment}" style="width:auto;margin-bottom:10px;"/>

                        </p:panelGrid>
                    </h:form>
                </div>


            </div>
        </div>

    </ui:define>

</ui:composition>