<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template.xhtml">

    <ui:define name="content">
    
    <div class="ui-fluid">
        <!-- Grid -->
        <div class="ui-g">
            <div class="ui-g-12">
             
                <div class="card">
                    <h1>Product List</h1>
                    <p:button id="insertButton" style="width:10%;" value="Post Product" outcome="insertProduct"></p:button>
                    
                    <p:dataTable var="prod" value="#{productController.findAll()}" reflow="true" selectionMode="single" rowKey="#{prod.id}">
                        <f:facet name="header">
                            Products
                        </f:facet>
                        <p:column headerText="Id">
                            <h:outputText value="#{prod.id}" />
                        </p:column>

                        <p:column headerText="Name">
                            <h:outputText value="#{prod.name}" />
                        </p:column>

                        <p:column headerText="Category">
                            <h:outputText value="#{prod.category}" />
                        </p:column>

                        <p:column headerText="Price">
                            <h:outputText value="#{prod.askPrice}" />
                        </p:column>
                        
                        <p:column headerText="">
                            <p:commandButton value="Details" action="#{productController.getProduct(prod.id,prod)}"/>                        
                        </p:column>
                    </p:dataTable>
                </div>
            </div>
           
        </div>
    </div>

    </ui:define>

</ui:composition>
