<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets" 
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template.xhtml"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    
   
	

    <ui:define name="content">
    
    <div class="ui-fluid">
        <!-- Grid -->
        <div class="ui-g">
            <div class="ui-g-12">
                
                <h:form id="form1">
                <div class="card">
                    <h1>AUCTION LIST</h1>
                    
                    <p:dataTable id="auctionTable" var="prod" value="#{auctionController.getAuction()}" reflow="true" selection="#{auctionController.selectedAuctionProducts}" disabledSelection="#{prod.status != 1}"  rowKey="#{prod.id}" >
                        <p:ajax event="rowSelectCheckbox" update=":form1:orderBtn" />
                        <p:ajax event="rowUnselectCheckbox" update=":form1:orderBtn" />
                        
                        <f:facet name="header">
                            AUCTION
                        </f:facet>
                        <p:column headerText="Id">
                            <h:outputText value="#{prod.id}" />
                        </p:column>

                        <p:column headerText="Product name">
                            <h:outputText value="#{auctionController.getProductName(prod.productId)}" />
                        </p:column>

                        <p:column headerText=" My price(‎€)">
                            <h:outputText value="#{prod.price}" />
                        </p:column>
                        
                        <p:column headerText="STATUS">
                           <h:panelGroup rendered="#{prod.status eq 0}">
                                    CURRENT
                           </h:panelGroup>
                            <h:panelGroup rendered="#{prod.status eq 1}">
                                    YOU WON THE BIDS!
                           </h:panelGroup>
                            <h:panelGroup rendered="#{prod.status eq 2}">
                                    YOU LOST THE BIDS!
                           </h:panelGroup>
                                
                           
                        </p:column>
                        
                        <p:column headerText="Action for this product">
                            <p:commandButton  value="WITHDRAWN" action="#{auctionController.remove(prod)}" />
                        </p:column>
                         
                        <p:column  selectionMode="multiple" style="text-align:center" headerText="Add to Shopping Cart(activated only if you won)">
                        </p:column>
                        
                    </p:dataTable>
                </div>
                <div class="card">
                    <h1>Check the products you wish to order from the table and click the button below to proceed. </h1>                    
                    <p:commandButton  id="orderBtn" value="Place Order" disabled="#{empty auctionController.selectedAuctionProducts}" action="#{orderController.setAuctionProductsList(auctionController.selectedAuctionProducts)}" style="width:auto;margin-top:15px;" />               
                </div>
            </h:form>
            </div>
  
           
        </div>
    </div>

    </ui:define>

</ui:composition>
