<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets" 
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template.xhtml"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    
   
	

    <ui:define name="content">
    
    <div class="ui-fluid">
        <!-- Grid -->
        <div class="ui-g">
            <div class="ui-g-12">
                
                
                <div class="card">
                    <h1>DELIVERY LIST</h1>
                    <p:dataTable var="prod" value="#{deliveryController.findAll()}" reflow="true" selectionMode="single" rowKey="#{prod.id}">
                        <f:facet name="header">
                            DELIVERY
                        </f:facet>
                        <p:column headerText="Id">
                            <h:outputText value="#{prod.id}" />
                        </p:column>

                        <p:column headerText="Product name">
                            <h:outputText value="#{prod.productName}" />
                        </p:column>

                        <p:column headerText=" Order ID">
                            <h:outputText value="#{prod.orderid}" />
                        </p:column>
                        
                        <p:column headerText="STATUS">
                           <h:panelGroup rendered="#{prod.status eq 0}">
                                    Started
                           </h:panelGroup>
                            <h:panelGroup rendered="#{prod.status eq 1}">
                                    In Transit!
                           </h:panelGroup>
                            <h:panelGroup rendered="#{prod.status eq 2}">
                                    Delivered!
                           </h:panelGroup>
                                
                        </p:column>
                        
                       
                        
                    </p:dataTable>
                </div>
            </div>
  
           
        </div>
    </div>

    </ui:define>

</ui:composition>
