<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    xmlns:pi="http://primefaces.org/icarus">


    <h:form id="menuform">

        <pi:menu widgetVar="IcarusMenu">
            <p:menuitem id="im_dashboard" value="Dashboard" icon="fa fa-home" outcome="/dashboard"/>
            <p:menuitem id="im_db_landing" value="Todays Deal" icon="fa fa-certificate" outcome="promotion-page.xhtml?type=self"/>    
            <p:menuitem id="im_db_landing2" value="My Products" icon="fa fa-certificate" outcome="viewProducts.xhtml?type=self"/>
            <p:menuitem id="im_db_landing3" value="All Products" icon="fa fa-certificate" outcome="viewProducts.xhtml?type=all"/>
            <p:menuitem id="im_db_landing4" value="My Bids" icon="fa fa-certificate" outcome="viewAuction.xhtml?type=self"/>
             <p:menuitem id="im_db_landing5" value="My Delivery" icon="fa fa-certificate" outcome="viewDelivery.xhtml?type=self"/>
            <p:menuitem id="im_db_landing6" value="My Transaction" icon="fa fa-certificate" outcome="viewTransaction.xhtml?type=self"/>

        </pi:menu>

    </h:form>

</ui:composition>