<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui">


    <div id="top-bar-wrapper">
        <div id="top-bar">


            <div class="top-bar-profile">
                <div class="profile-name">
                    <span><h:outputText value="#{dashboardController.user.firstName} #{dashboardController.user.lastName}"/> </span><br/>
                    User
                </div>
                <a href="#" id="profile-image">
                    <h:graphicImage name="images/profile.png" library="icarus-layout" style="border: 0 none;"/>
                </a>
                <ul class="top-submenu animated flipInX">
                    <li>
                        <a href="updateProfile.xhtml">
                            <i class="fa fa-fw fa-user"></i>
                            <span>My Profile</span>
                        </a>
                    </li>
                    
                                  <li>
                        <a href="viewProducts.xhtml?type=self">
                            <i class="fa fa-fw fa-cube"></i>
                            <span>My Products</span>
                        </a>
                    </li>
                    <li>
                        <a href="viewAuction.xhtml?type=self">
                            <i class="top-submenu-icon fa fa-fw fa-credit-card"></i>
                            <span>My Bids</span>
                        </a>
                    </li>
                    
                    <li>
                        <a href="viewDelivery.xhtml?type=self">
                            <i class="top-submenu-icon fa fa-fw fa-credit-card"></i>
                            <span>My Delivery</span>
                        </a>
                    </li>
                    
                    <li>
                        <a href="viewTransaction.xhtml?type=self">
                            <i class="top-submenu-icon fa fa-fw fa-credit-card"></i>
                            <span>My Transaction</span>
                        </a>
                    </li>
                    
                    <li>
                        <a href="promotion-page.xhtml?type=self">
                            <i class="top-submenu-icon fa fa-fw fa-eye"></i>
                            <span>My Today's Deals</span>
                        </a>
                    </li>
                    <li>
                        <a href="myorders.xhtml?type=self">
                            <i class="top-submenu-icon fa fa-fw fa-ticket"></i>
                            <span>My Orders</span>
                        </a>
                    </li>

                    <li>
                        <h:form>
                            <h:commandLink action="#{dashboardController.logout}">
                                <i class="top-submenu-icon fa fa-fw fa-close"></i>
                                <span>Log Out</span>
                            </h:commandLink>
                        </h:form>
                    </li>
                </ul>
            </div>

            <div class="top-menu">
                <div class="top-bar-icon">
                    <a href="#">
                        <i class="fa fa-bell-o animated swing" aria-hidden="true"></i>
                        <i class="top-bar-badge animated rubberBand">3</i>
                    </a>
                    <ul class="top-submenu animated flipInX">
                        <li class="header">You have 3 tasks.</li>
                        <li>
                            <a href="#">
                                <i class="top-submenu-icon fa fa-fw fa-mobile"></i>
                                <span>Mobile app release</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="top-submenu-icon fa fa-fw fa-line-chart"></i>
                                <span>Review sale reports</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="top-submenu-icon fa fa-fw fa-plane"></i>
                                <span>Reserve flight</span>
                            </a>
                        </li>
                    </ul>
                </div>


            </div>
        </div>
    </div>


</ui:composition>